[alias]
	s = status
	co = checkout
	c = commit

[user]
	email = 18451+behrangsa@users.noreply.github.com
	name = Behrang Saeedzadeh

[push]
	autoSetupRemote = true
	default = current

[init]
	defaultBranch = master
