[user]
	name = Behrang Saeedzadeh
	email = behrangsa@gmail.com

[alias]
	s = status
	c = commit
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate
	last = log -1 HEAD
	unstage = reset HEAD --
	st = s
	cm = c

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true
	default = current
