[user]
	name = Behrang Saeedzadeh
	email = behrangsa@gmail.com

[alias]
	s = status
	c = commit
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all --author-date-order
	last = log -1 HEAD
	unstage = reset HEAD --
	st = s
	cm = c

[init]
	defaultBranch = master

[push]
	autoSetupRemote = true
	default = current

[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential

[core]
	pager = cat
[pull]
	rebase = false
